<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972338846742-l9m9s4hs03p338dsou28ifdua57k3khj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972338846742-l9m9s4hs03p338dsou28ifdua57k3khj</string>
	<key>API_KEY</key>
	<string>AIzaSyA_f_Wc423PTlWD9qGHNTCBWQkgCY2tGFY</string>
	<key>GCM_SENDER_ID</key>
	<string>972338846742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxpavlov.Networking</string>
	<key>PROJECT_ID</key>
	<string>networking-549a8</string>
	<key>STORAGE_BUCKET</key>
	<string>networking-549a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972338846742:ios:25a35648d5cc8bf3ba6937</string>
	<key>DATABASE_URL</key>
	<string>https://networking-549a8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>